<div class="col-sm-12">
  <div class="sblock-1 rounded-3 col-sm-3 custom-menu">
    <h5 class="sblock-1-heading">Danh mục</h5>
    <div class="sblock-1-content">
      <div class="list-group animation">
        {% for category in categories %}
          <div id="menu_{{ category.id }}" class="menu-group">
            <a href="{{ category.href }}" class="list-group-item mainmenu-item parent">{{ category.name }}</a>
            {% if category.children %}
              <div id="submenu_{{ category.id }}" class="submenu">
                {% for child in category.children %}
                  <a href="{{ child.href }}" class="list-group-item submenu-item child">&nbsp;&nbsp;&nbsp;{{ child.name }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>  
  </div>
  <div class="main-slider swiper-viewport rounded-0 col-sm-9">
    <div id="slideshow{{ module }}" class="swiper-container">
      <div class="swiper-wrapper"> {% for banner in banners %}
        <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
        {% endfor %} </div>
    </div>
    <div class="swiper-pagination slideshow{{ module }}"></div>
    <div class="swiper-pager">
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	//pagination: '.slideshow{{ module }}',
	//paginationClickable: true,
	nextButton: '.swiper-button-next',
  prevButton: '.swiper-button-prev',
  spaceBetween: 0,
	autoplay: 2500,
  autoplayDisableOnInteraction: true,
	loop: true
});
$(".parent").mouseover(function(){
  $('.submenu').hide();
  var id = $(this).parent().attr('id').substring(5);
  $('#submenu_' + id).show();
});
$(".list-group, .submenu").mouseleave(function() {
    $('.submenu').hide();
});
--></script>